.header {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 75px;
  color: rgba(175, 47, 47, 0.4);
  font-weight: 100;
  text-transform: lowercase;
}

#new-todo {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  
  height: 65px;

}
.todo-list-item {

}

.todo-list-footer {

}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}

.side-menu-custom {
	display: inline-block;
	background: #191818;
  height: 100vh;
}

.side-menu-custom a{
	color: #999;
  border: none;
  white-space: normal;
  padding: 0.625em 1em;
}

.pure-menu-open {
  background: transparent;
  border: 0;
}

.layer-paper {
  background: #fcf0ad;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15), /* The top layer shadow */ 0 10px 0 -5px #fcf0ad, /* the second layer */ 0 10px 1px -4px rgba(0,0,0,0.15), /* The second layer shadow */ 0 20px 0 -10px #fcf0ad, /* the third layer */ 0 20px 1px -9px rgba(0,0,0,0.15); /*the third layer shadow*/
}